*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    max-width: 100%;

}

body{
    
    width: 100%;
    
}

nav{
    background-color: rgba(182, 179, 179, 0.603);
}

h3{
    color: rgb(0, 159, 252);
    font-size: 40px;
    font-style: italic; 
}


image{
    border: 2px solid purple;
}
